[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/forty"]
	path = themes/forty
	url = https://github.com/MarcusVirg/forty.git
[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream.git
[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "themes/imperfect"]
	path = themes/imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/crisp"]
	path = themes/crisp
	url = https://github.com/Zenithar/hugo-theme-crisp.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/Vimux/Mainroad.git
[submodule "themes/startbootstrap-clean-blog"]
	path = themes/startbootstrap-clean-blog
	url = https://github.com/humboldtux/startbootstrap-clean-blog.git
[submodule "themes/slim"]
	path = themes/slim
	url = https://github.com/zhe/hugo-theme-slim.git
[submodule "themes/hugo-hello-programmer-theme"]
	path = themes/hugo-hello-programmer-theme
	url = https://github.com/lubang/hugo-hello-programmer-theme.git
[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/vjeantet/hugo-theme-casper.git
